.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    height: 70px;
}

.footerWord{
    color: white;
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 800px) {
    .footerContainer{
        height: 60px;
    }
    .footerWord{
        font-size: 0.8rem;
    }
}